{% extends "encyclopedia/layout.html" %}
{% load static %}
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    <h3 class="header" >Thank you for your interest in contributing.</h3>
    <h4>Create New Entry:</h4>

    <form method="POST" action="{% url 'new_page' %}">
        {% csrf_token %}
        <br>
        <input class="create" type="text" name="new_title" placeholder="Entry Title">
        <p>
        <textarea class="create" id="textboxid" name="new_body" placeholder="Create Entry"></textarea>
        <p>
        <input class="btn" type="submit" value="Submit">
    </form>
{% endblock %}