{% extends "layout.html" %}

{% block content %}
</head>
    <body>
        <h1 id="page-label">PORTFOLIO</h1>
          <div>
              <div id="portfolio-textbox">This area is dedicated to displaying my professional work and personal projects. From design sketches to fully-fledged applications, I will be sharing a variety of projects that demonstrate my range of skills and areas of interest. This space is currently under development, so please check back soon for updates and feel free to reach out if you have any inquiries or comments. I'm looking forward to sharing my work with you!</div>

              <div id="portfolio-photos">
                    <div class="row">
                      <img src="" lt="Photo 6">
                      <img src="" lt="Photo 6">
                      <img src="" lt="Photo 6">
                      <img src="" lt="Photo 6">
                      <img src="" lt="Photo 6">
                    </div>
              </div>
          </div>
        <div>
                <div id="portfolio-textbox">This area is dedicated to displaying my professional work and personal projects. From design sketches to fully-fledged applications, I will be sharing a variety of projects that demonstrate my range of skills and areas of interest. This space is currently under development, so please check back soon for updates and feel free to reach out if you have any inquiries or comments. I'm looking forward to sharing my work with you!</div>
        </div>
        <div class="portfolio-project-list">
            <div class="left-column">
              <ul>
                <li class="portfolio-project-item">
                  <a href="#">Project 1</a>
                </li>
                <li class="portfolio-project-item">
                  <a href="#">Project 2</a>
                </li>
                <li class="portfolio-project-item">
                  <a href="#">Project 3</a>
                </li>
              </ul>
            </div>
            <div class="right-column">
              <ul>
                <li class="portfolio-project-item">
                  <a href="#">Project 4</a>
                </li>
                <li class="portfolio-project-item">
                  <a href="#">Project 5</a>
                </li>
              </ul>
            </div>
          </div>
    </body>
</html>
{% endblock %}