/* Cantact Modal */
:root {
    --errorColor: rgb(218, 19, 19);
    --validColor: rgb(10, 190, 58);
}

.modal {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal-content {
    background: var(--lightgrey);
    margin: 5% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    position: relative;
    border-radius: 3px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.close-btn {
    position: absolute;
    top: 2%;
    left: 90%;
    font-size: 1.5rem;
    z-index: 1;
    color: var(--white);
}
    .close-btn:hover {
        cursor: pointer;
        color: var(--black);
        transition: 0.2s ease-out;
    }

.modal-content-left {
    background: rgba(10, 10, 10);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    #modal-img {
        max-width: 100%;
        max-height: 100%;
    }

.modal-content-right {
    background: linear-gradient(90deg, var(--black) 0%, var(--darkgrey) 100%);
    position: relative;
}


.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content-right form h1 {
    color: var(--white);
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
}

.form-validation {
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-validation.error {
    margin-bottom: 1.5rem;
    position: relative;
    border: 1px solid var(--errorColor);
    border-radius: 2px;
}

.form-validation.valid {
    margin-bottom: 0.5rem;
    position: relative;
    border: 1px solid var(--validColor);
    border-radius: 2px;
}

.form-validation p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--errorColor);
    position: absolute;
    top: 1.8rem;
    display: none;
}

.form-validation.error p {
    display: block;
}

.modal-input {
    display: block;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 2px;
    border: none;
    height: 2rem;
    width: 100%;
    box-shadow: 1px 1px 1px var(--lightgrey);
}

.modal-input::placeholder {
    color: var(--lightgrey);
}

#message {
    padding-top: 0.5rem;
    height: 6rem;
}

.modal-input-btn {
    width: 80%;
    height: 2rem;
    border-radius: 2px;
    background-color: var(--darkgrey);
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1rem;
}
    .modal-input-btn:hover {
        cursor: pointer;
        background-color: var(--lightgrey);
        transition: all 0.4s ease-out;
    }

.modal-input-login {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: var(--lightgrey);
    width: 80%;
    text-align: center;
}

.modal-input-login a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--errorColor);
    font-weight: 600;
}

@media screen and (max-width: 868px) {
    .modal-content-left {
        display: none;
    }
    .modal-content {
        grid-template-columns: auto;
        margin: 15% auto;
        width: 70%;
        height: 75%;
        z-index: 100;
    }
    .modal {
        z-index: 100;
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }

        .close-btn {
            left: 85%;
        }
}

@media  screen and (max-width: 580px) {
    .modal-content {
        width: 90%;
        height: 80%;
        z-index: 100;
    }
    .close-btn {
        left: 85%;
    }

    .modal {
    z-index: 100;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}


#letter_btn {
    position: fixed;
    background-color: var(--black);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 3px;
    border: solid 1.5px var(--white);
    transition: all 0.5s ease-out;
    text-decoration: none;
    height: 35px;
    width: 10%;
    bottom: 35px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1vw, 1.5vw, 18px);
    z-index: 90;
}
    #letter_btn:hover {
        background-color: var(--darkgrey);
        border: solid 1.5px var(--black);
        transition: all 0.5s ease-out;
    }

@media screen and (max-width: 580px) {
    #letter_btn {
        padding: 2%;
        height: 15px;
        width: 15%;
        position: fixed;
        bottom: 35px;
        left: 18px;
        font-size: 1.5vw;
    }
}
